body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: #fff;
 }

.container-fluid{
    padding: 2% 15%;
}

 h1{
    font-family: 'Montserrat', sans-serif;
    size: 3.5rem;
    line-height: 1.5;
 }

 h3{
    font-family: 'Montserrat', sans-serif;
 }

p{
    color: #8f8f8f;
}

 /* nav bar */

 .navbar{
    padding:0 0 4.5rem;
 }

 .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
 }
 .nav-item{
    padding: 0 18px;
 }

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

/* buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
}

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}