body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 2% 15% 7%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    size: 3.4rem;
    line-height: 1.6;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
}

/* nav bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

/* buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */

.title-image {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;

}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonial */

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
    
}

@media (max-width: 990px){
    #title{
        text-align: center;
    }

    .title-image{
        width: 60%;
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7%;
}

.cta-hed{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

#footer{
    background-color: #fff;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;

}

.foot-soc{
    padding: 5px;
}